
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #af8c9d;
background-image: linear-gradient(315deg, #af8c9d 0%, #8cacac 74%);
}
nav{
    background-color: rgb(88, 88, 88);
}
.carrusel{
    display: flex;
    margin-top: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid black 1px;
    margin-bottom: 150px;
}
.cardd{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 130px;
    transition: transform 0.5s;
    opacity: 0.5;
    border: solid grey 1px;
}
.cardd:hover{
    transform: scale(1.1);
    opacity: 1;
}
#footer{
    margin-top: 50px;
}
#ajusteimagen{
    height: 127px;
}

#headertrabajos {
    background: url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center center / cover no-repeat ;
  }
  .containercontac{
      margin-top: 10px;
  }
  .card-img-top{
      border-color: aliceblue
  }
  .card-text{
      color:rgb(0, 90, 173)
  }
.mainnos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#gallery{
    margin-top: 30px;
}